/* sur les appareils moins de 768 */
.header-list,
.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0.5% 0;
    align-items: center;
}
@media only screen and (min-width: 768px) 
{
    .header-list,
    .footer-list 
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        background-color: black;
        margin: 0.5% 0;
    }
}

